@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&family=Teko:wght@300&display=swap');

body {
    font-family: 'Saira Condensed';
}

button{
    background-color: #F58310;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Saira Condensed';
    font-size: 150%;
    font-weight: 800;
    cursor: pointer;
    margin: 1rem auto;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.add-another{
    background: #FFFFFF;
    color: black; 
}

.add-another:hover,
.add-another:active{
    background-color: #f3f3f3;
}

.button-div{
    display: flex;
    align-items: center;
}

button:hover,
button:active{
    background-color: #ff952b;
}

.form-div{
    margin: 1rem auto;
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26)
}




.form-control h1{
    text-align: center;
    color: #F58310;
    margin: 1rem auto;
}

.form-control input{
    display: block;
    width: 25rem;
    height: 3rem;
    margin: 1rem auto;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;  
    border: none;      
    font-size: 180%;
    font-family: 'Marker Felt';
}

.form-control label{
    display: block;
    margin: 1rem auto;
    color: black;
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}

.form-control textarea{
    width: 25rem;
    height: 10rem;
    display: block;
    margin: 1rem auto;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    border: none;
    font-size: 130%;
    font-family: 'Saira Condensed';
}

.form-map{
    width: 25rem;
    margin: 1rem auto;
}

.form-map p{
    display: block;
    margin: 1rem auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}
.form-control p{
    display: block;
    margin: 1rem auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}
