{% extends 'client/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{%static "client/style.css"%}">
<link rel="stylesheet" href="{%static "client/includes/headers.css"%}">
{% endblock %}

{% block title %}Game Information{% endblock title %}

{% block body %}
    {% include "./includes/header.html" %}
    <form action="/create/information" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            <h1>Treasure Information</h1>
        </div>
        {% csrf_token %}
        <div class="form-control">
            {{form_information.description_information.label_tag}}
            {{form_information.description_information}}
            {{form_information.description_information.errors}}
        </div>
        <div class="form-control">
            {{form_information.user_image_2.label_tag}}
            {{form_information.user_image_2}}
            {{form_information.user_image_2.errors}}
        </div>
        <div class="form-map">
            <p>Treasure location</p>
            {{maps|safe}}
        </div>
        <div class="form-control">
            <h1>Clue Information</h1>
        </div>
        <div class="form-control">
            {{form_information.description_information_clue.label_tag}}
            {{form_information.description_information_clue}}
            {{form_information.description_information_clue.errors}}
        </div>
        <div class="form-map">
            <p>Clue location</p>
            {{maps|safe}}
        </div>
        <div class="button-div">
        <button type = "submit" class ="add-another">Add another treasure</button>
        <button type = "submit">Create</button>
        </div>
    </form>

    {% include "./includes/footer.html" %}
{% endblock body %}

