{% extends 'client/base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{%static "client/style.css"%}">
<link rel="stylesheet" href="{%static "client/includes/headers.css"%}">
{% endblock %}

{% block title %}Game Information{% endblock title %}

{% block body %}
    {% include "./includes/header.html" %}
    <form action="/create/information" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            <h2>Treasure Information</h2>
        </div>
        {% csrf_token %}
        {% for forms in form_information %}
            <div class="form-control">
                {{forms.label_tag}}
                {{forms}}
                {{forms.errors}}
            </div>
        {% endfor %}
        <div class="form-map">
            <p>Treasure location</p>
            {{maps|safe}}
        </div>
        <div class="form-control">
            <h2>Clue Information</h2>
        </div>
        <div class="button-div">
        <button type = "submit">Create</button>
        </div>
    </form>

    {% include "./includes/footer.html" %}
{% endblock body %}

