
#body{
    background-color: #15073C;
    font-family: sans-serif;
}

#icon{
    -webkit-filter: invert(100%);
}

#btnOk{
    background-color: #F58310;
    color: white;
    border-color: #F58310;
}