@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&family=Teko:wght@300&display=swap');

body {
    background-color: #15073C;
    font-family: 'Teko', sans-serif !important;
}

.a, .href {
    color: #F58310;
}


#icon {
    -webkit-filter: invert(100%);
}

#btnOk {
    background-color: #F58310;
    color: white;
    border-color: #F58310;
}


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 65px;
    left: 0;
    background-color: #15073C;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #15073C;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #F58310;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #15073C;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: white;
    color: #F58310;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.btn-logout {
    background-color: #F58310;
    color: white;
    text-align: center;
}
  


  