#btnGoogle {
    margin-top: 400px;
}

#backImg {
    margin-left: -30px;
    width: 75%;
    top: 206px;
    left: 822px;
}

#titleSign{
    color: white;
    margin-top: 70px;
    font-weight: bold;
}

#titleT{
    color: #F58310;
    font-weight: bold;
}

.h5{
    color: white;
    margin-top: 40px;
}

