.form-map{
    width: 50rem;
    margin: 1rem auto;
}

.form-map p{
    display: block;
    margin: 1rem auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}
.form-control p{
    display: block;
    margin: 1rem auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}