{% extends 'base.html' %}
{% block title %}
    Threasure Hunting
{% endblock %}
{% block  stylesheet %}
    {{ block.super }}
    {% load static %}
{% endblock %}
{% block body %}
    <div class="container">
    <h5 style="color: white; margin-top: 40px;"><img id="icon" src="https://img.icons8.com/ios-glyphs/30/000000/treasure-map.png"/>
        Treasurehunt</h5>
        <div class="col-md-9">
            <div class="container" align="center">
        <form id="authentication_form" action="{% url 'auth' %}"
              method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input id="token" type="hidden" name="token">
            </form>
        <div class="g-signin2" data-onsuccess="onSignIn" style="padding-top: 30px;"></div>
                </div>
        </div>
    <div class="col-md-9">

    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% load static %}
    {{ block.super }}
    {% load static %}
    <script>
        function onSignIn(googleUser) {
            document.getElementById("token").value = googleUser.getAuthResponse().id_token;
            document.getElementById("authentication_form").submit();
        }
    </script>
{% endblock %}